<footer class="site-footer">
  <div class="container">
    <div class="footer-sections">
      <div class="footer-contacts">
        <div class="footer-contacts-title">Contacts</div>
        <div>
          Email:
          <a href="mailto:contact@eliteplayfield.com"
            >contact@eliteplayfield.com</a
          >
        </div>
        <div>Phone: <a href="tel:+61276392904">+61 2 7639 2904</a></div>
        <div>Address: 31 Ocean Drive, Port Lincoln SA 5606, Australia</div>
      </div>
      <div class="footer-menu">
        <div class="footer-menu-title">Navigation</div>
        <div class="footer-menu-main">
          <a href="./">Home</a>
          <a href="math-news.html">News</a>
          <a href="math-contacts.html">Contacts</a>
          <a href="math-disclaimer.html">Disclaimer</a>
        </div>
        <div class="footer-menu-policy">
          <a href="math-cookies.html">Cookies</a>
          <a href="math-privacy.html">Privacy</a>
        </div>
      </div>
    </div>
    <p>
      &copy; <span id="footer-year"></span> 2025 ElitePlayField.com. All rights
      reserved.
    </p>
  </div>
</footer>
